:root{
    --main-fonts : 'RocknRoll One', sans-serif;
    --header-color : whitesmoke;
    --main-border : 1px solid rgba(0,0,0,0.1);

    /* font & icon color */
    --black : rgb(0,0,0);
    --red : rgba(255,0,0,0.5);
    --green : green;
    
    /* font opacity */
    --icons-opacity : 0.9;
    --main-bar-small-opacity : 0.5; 
}